# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001

# Backend
CLIENT_URL=http://localhost:3000
PORT=3001

# Database
REDIS_URL=rediss://...
DATABASE_URL=postgresql://user:password@host:port/database?sslmode=require
