PORT=3001
CLIENT_URL=http://localhost:3000

SEC_USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36";
SEC_COOKIE=

SEC_FETCH_CRON="*/30 * * * *"

REDIS_URL=
DATABASE_URL=

BULLMQ_USER=
BULLMQ_PASS= # strong one in prod

OPENAI_API_KEY=
